.collection-container {
    background-color: blueviolet ;
    color: white;
    display: grid;
    grid-template-columns: auto auto ;
}

.pokemon-name{
    margin-top: 0.5rem;
    color: aqua;
}

.pokemon-list-container{
    border: 1px solid black;
    border-radius: 15%;
    background: grey;
    width: 200px;
    align-items: center;
}